@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(75 85 99);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);
  }
}
